/* Import Zen Grids */
@import "zen";
@import "zen/background";

$zen-column-count: 7;
$zen-gutter-width: 30px;
$zen-grid-color: #ffdede !default;


@mixin our-border() {
  border-width: 4px;
  border-style: dotted;
  border-color: brown;
}

body {
  font-family: Verdana, Arial, sans-serif;
}

.container {
  @include zen-grid-container;
}

.header {
  @include zen-grid-item(7, 1);
  @include our-border();
}

/* User login */
.sidebar_left {
  @include zen-grid-item(2, 1);
  @include our-border();

}

.main_content {
  @include zen-clear();
  @include zen-grid-item(4, 3);
  @include our-border();

}

.sidebar_right {
  @include zen-grid-item(1, 7);
  @include our-border();

}

.footer {
  @include zen-clear();
  @include zen-grid-item(7, 1);
  @include our-border();

}
